.navBar{
	display: block;
	position: fixed;
	top: 0;
	width: 100%;
}

.currentImage{
	display:none;
}

ul{
	list-style-type: none;
	margin: 0;
	padding:0;
	overflow: hidden;
	background-color: rgb(127, 131, 134);
}

li{
	width: 14.28%;
	float: left;
}

li a {
	display: block;
	color : white;
	text-align: center;
	padding: 15px 20px;
	text-decoration: none;
	font-family: 'Epilogue', sans-serif;

}

li a:hover{
	background-color:white;
	color: rgb(127, 131, 134);
}

.logoDiv{
	background-color: rgb(127, 131, 134);
	
    
}

#logo{
	display: block; 
	height: 100px; 
	margin-left: auto; 
	margin-right: auto;
}

body{
	background-color: whitesmoke;
	margin: 0px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.container{
	margin-top: 20px;
	margin-left: 2%;
	margin-right: 2%;
	padding: 10px;
}

.galleryHeader{
	font-family: 'Josefin Slab', serif;
	font-size: 34px;
}


.galleryContainer {
	/* Prevent vertical gaps */
	line-height: 0;
	
	-webkit-column-count: 5;
	-webkit-column-gap:   0px;
	-moz-column-count:    5;
	-moz-column-gap:      0px;
	column-count:         5;
	column-gap:           0px;
 }
 
.galleryPhoto {
   /* Just in case there are inline attributes */
   width: 100% !important;
   height: auto !important;
 }
 
 @media (max-width: 1200px) {
   .galleryContainer {
   -moz-column-count:    4;
   -webkit-column-count: 4;
   column-count:         4;
   }
 }
 @media (max-width: 1000px) {
   .galleryContainer {
   -moz-column-count:    3;
   -webkit-column-count: 3;
   column-count:         3;
   }
 }
 @media (max-width: 800px) {
   .galleryContainer {
   -moz-column-count:    2;
   -webkit-column-count: 2;
   column-count:         2;
   }
 }
 @media (max-width: 400px) {
	.galleryContainer {
   -moz-column-count:    1;
   -webkit-column-count: 1;
   column-count:         1;
   }
 }
 

/* .fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
	from {opacity: 1}
	to {opacity: 1}
  }
  
  @keyframes fade {
	from {opacity: 1}
	to {opacity: 1}
  } */